*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
h2,h3{
	margin: 5px;
}

#email,
.email{
	display: none;
}

.inline{
	display: inline;
}
#detail_time_start,#detail_time_end,#description,#location,#tags{
	margin: 0 5px;
}

#detail_time_start{
	font-weight: bold;
}

#detail_time_end,#location{
	background-color: #ddddff;  
}
#mapdiv{
  margin: 5px;
  border: 1px solid gray;
  border-radius: 5px;	
}
form.adddate,
form.addsession,
form.addlink,
form.timezone,
#attachments div.attachment{
	background-color: #ddffdd;
	margin: 5px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
}
form #location{
	background-color: #ddffdd;
}
.left,.right{
	min-width: 200px;
	float: left;
}
h2.overview{
	float: left;
}
#description textarea{
	width: 400px;
	height: 300px;
}
td{
	text-align: center;
}
td.description{
	text-align: left;
}

.datepicker,.timepicker{
	display: inline;
	margin-right: 20px;
}
.end{
	margin-top: 10px;
}
.disclaimer{
	font-size: 12px;
	clear: both;
	padding-left: 5px;
}
.submit .choice{
	display: block;
}
textarea{
  width: 100px;
  height: 100px;
}
.debug textarea{
	width: 33%;
	height: 300px;
}
#map{
  width: 100%;
  height: 320px;
}
table {
  border-collapse: collapse;
  margin: 5px;
  clear: both;	
}
table tr{
	font-weight: normal;
	border: 1px solid gray;	
}
.warnings{
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	padding: 20px;
	width: 50%;
	background-color: red;
	text-align: center;
	color: white;
	font-weight: bold;
}
.notifications{
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  padding: 20px;
  width: 50%;
  margin: auto;
  background-color: lime;
  text-align: center;
  color: black;
  font-weight: bold;
}
.confirmation{
	width: 100%;
	padding: 5px;
	background-color: yellow;
	color: red;
	text-align: center;
	font-weight: bold;
}
#mapdiv{
	height: 50%;
}
.bottomline{
	background-color: white;
	position: fixed;
	bottom: 0;
}
tr.session td{
	padding: 5px;
}
.right{
	right: 0;
}
.options{
	float: right;
}
.note{
	color: red;
	font-weight: bold;
}

#attachments div.attachment{
	float: left;
	text-align: center;
}
.attachment img{
	max-width: 256px;
}
.endfloat,
.submit{
	clear: both;
}
