textarea{
  width: 580px;
  height: 280px;
}
.left{
  width: 48%;
  background-color: lime;
}
.right{
  width: 48%;
  background-color: yellow;
}
div.start,div.end{
  float: left;
}

#map{
  width: 500px;
  height: 380px;
}
