*{
	padding: 0;
	margin: 0;
}
.left,.right{
	width: 50%;
	float: left;
}
#description textarea{
	width: 400px;
	height: 300px;
}
td{
	text-align: center;
}
td.description{
	text-align: left;
}

.datepicker,.timepicker{
	display: inline;
	margin-right: 20px;
}
.end{
	margin-top: 10px;
}
.submit{
	clear: both;
}
textarea{
  width: 100px;
  height: 100px;
}
#map{
  width: 100%;
  height: 320px;
}
table {
  border-collapse: collapse;	
}
table *{
	font-weight: normal;
  border: 1px solid gray;
}
.warnings{
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	padding: 20px;
	width: 50%;
	margin: auto;
	background-color: red;
	text-align: center;
	color: white;
	font-weight: bold;
}
.confirmation{
	width: 100%;
	padding: 5px;
	background-color: yellow;
	color: red;
	text-align: center;
	font-weight: bold;
}